<header class="site-header">
  <div class="logo">
    <a href="/"><img src="/images/Logo.png" alt="Meow Bites Logo" /></a>
  </div>

  <nav class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
      <li><a href="/support">Support</a></li>
    </ul>
  </nav>
</header>
